﻿@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />
<header>
    <video autoplay muted loop class="fundo">
        <source src=~/Video/video.mp4 type="video/mp4">
    </video>

    <div class="container text-center text-white">
        <h1>Bem-vindo ao projetocidade10</h1>
        <p>
            <button class="btn btn-primary">Saiba Mais...</button>
        </p>
    </div>
</header>
