@model projetocidade10.Models.Usuario;
<head>
    <title>Login - projetocidade10</title>
    <link href="~/css/login.css" rel="stylesheet" />
</head>

<body>
    <!-- Cabeçalho fixo no topo -->
    
    <!-- Container do formulário centralizado -->
    <div class="login-container">
        <form asp-action="Login" method="post" class="login-form">
            <h1 class="login-titu text-center">Login</h1>

            <div class="form-group">
                <label>Email:</label>
                <input type="email" name="email" required class="form-control" />
            </div>
            <div class="form-group">
                <label>Senha:</label>
                <input type="password" name="senha" required class="form-control" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary text-center">Entrar</button>
            </div>
        </form>
    </div>
</body>
